body {
	font-family: Helvetica;
	background-color: #A9A9A9;
	height: 100vh;
	width: 100vh; 
 	background-repeat: no-repeat;
   	background-attachment: fixed; 
/*	background-image: radial-gradient(ellipse farthest-corner at 45px 45px, #AAAAAA 10%, rgba(255, 0, 255, 0) 100%, #505050 10%);
 	
	height: 100vh;
	width: 100vh; 
 	background-repeat: no-repeat;
   	background-attachment: fixed; 
 	background-image: url(images/radial_bg.png); 
   	background-position: center center; 
  	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#FFFFFF), to(#000000));
  	background: -webkit-radial-gradient(circle, #FFFFFF, #000000);
  	background: -moz-radial-gradient(circle, #FFFFFF, #000000);
  	background: -ms-radial-gradient(circle, #FFFFFF, #000000);
*/
}

a {
	color: inherit;
}

a:hover {
	color: black;
}

h1 {
	font-size: 2.5em;
}

.header {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-family: 'Pacifico', cursive;
	font-size: 3em;
	color: white;
	border: 1px solid black;
	background-color: #00688B;
	padding:0.5em;
	max-height: 70%;
}

.homes{
	padding: 0.2em 1.5em 0.1em 0em;
	top:0%;
}

#home {
}

#home:hover {
	filter: invert();
}

.title{
	padding-top: 0.4em;

}
.topics {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 1em 0em 1em 0em;
}

.fcc {
	background-color: #006400;
}

.hr {
	background-color: #29b35b;
}

.misc {
	background-color: #0C73B8;
}

.fcc,
.hr,
.misc {
	width: 100%;
	padding: 1em 3em 2em 2em;
	margin: 0.5em;
	color: whitesmoke;
}

.projects-button {
	padding: 0.75em 1.25em;
	background-color: whitesmoke;
	opacity: 0.9;
	text-align: center;
	color: black;
}

.projects-button:hover {
	cursor: pointer;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	float: left;
	padding-right:;
}

.projects {
	margin: 1em 0;
}

.active {
	background-color: #333333;
	color: whitesmoke;
}

.footsy {
	clear: both;
	background-color: ;
	padding-bottom: 1em;
}
.less-round-box {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	margin: 0.2em;
	border: 0.5em;
	border-style: solid;
	border-color: grey;
}
.social:hover {
	filter: brightness(200%);
}
.social {
	margin-top: 1vw;
}

.created {
	float: center;
	clear: both;
	margin-top: ;
	font-size: 1.5em;
	color: black;
	padding-top: 1.3em;
}
