body {
	background-color: black;
	color: white;
}

.timeBlock {
    padding: 0;
}
.timeBlock > h4{
    text-align: center;
}

/* spotlight page only  */
.spotlight{
    margin: 75% auto; 
}

@media only screen and (max-width: 600px) {
    .spotlight{
        margin: auto; 
    }
}

.description {
    width: 100%;
}

.description > h3, h5 {
    text-align: center;
}

.description > ul >  li {
    font-size: 1.5em;
}



/* MDL stuff */
.layout-transparent {
    background: rgb(27, 27, 27) center / cover;
}

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
    color: white;
}

/* FIVE DAY VIEW, CENTER THE CARDS */
.center-items {
    justify-content: center;
}

.card-event > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
}

.card-event > .mdl-card__title {
    align-items: flex-start;
}

.card-event > .mdl-card__title > h4 {
    margin-top: 0;
}

.card-event > .mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}

.card-event > .mdl-card__actions > .material-icons {
    padding-right: 10px;
}

.card-event > .mdl-card__title,
.card-event > .mdl-card__actions,
.card-event > .mdl-card__actions > .mdl-button {
    color: #fff;
}

.mdl-card{
    background-color: rgb(27, 27, 27);
}

.project-card{
    background-color: rgb(75, 75, 75);
}

.mdl-mini-footer__link-list > li > a:hover{
    cursor: pointer;
}

/* TODO ADD SOME FANCY CSS ANIMATION STO THE 404 */
#error{
    height: 100%;
    display: flex;
    line-height: 80vh;
    margin: 0;
    font-size: 8em;
}