/*PHONES*/
@media screen and (min-device-width: 600px) and (max-device-width: 900px) and (-webkit-min-device-pixel-ratio: 1) {
	.about-me {
	background-image: url("/imgs/portfolio/about_by_spazcool-daidx3w.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5rem 0rem 5rem 0rem;
	font-size: 1.3em;
}
}

body {
	font-family: "Michroma", sans-serif;
	color: white;
	background-color: black;
}

/* MENU */

.blog{
	position: absolute;
	z-index: 1;
}
#blog{
	float: right;
	margin-top: 2em;
}
#blog:hover{
	filter: brightness(20%);
}

.header {
	position: fixed;
	z-index: 1;
	margin: 2em 0em 0em 0em;
}

.menu {
	flex-wrap: wrap;
}

#menuIcon {
	margin-bottom: 1em;
}

#menuIcon:hover {
	filter: brightness(30%);
}

/*MENU ICON AND THE THREE SECTION BUTTONS (SUB NAVS)  */
.nav-button:hover {
	cursor: pointer;
}

.sub-nav-button {
	background-color: rgba(0, 0, 0, 0.1);
	font-size: 2em;
	width: 8.8em;
}

#about:hover {
	background-color: rgba(110, 13, 208, 0.5);
	border-color: #6E0DD0;
}

#work:hover {
	background-color: rgba(204, 0, 255, 0.5);
	border-color: #CC00FF;
}

#find:hover {
	background-color: rgba(255, 0, 204, 0.5);
	border-color: #FF00CC;
}

/*INDIVIDUAL LINKS*/
.sub-sub-nav-button {
	text-align: left;
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
	height: 3em;
	width: 16em;
	border-color: #357ebd;
	font-size: 1.1em;
	border-radius: 0;
}

.sub-sub-nav-button:hover {
	border-color: #6E0DD0;
	color: white;
	font-size: 1.11em;
}

.about-button:hover {
	background-color: rgba(110, 13, 208, 0.6);
}

.work-button:hover {
	background-color: rgba(204, 0, 255, 0.6);
}

.find-button:hover {
	background-color: rgba(255, 0, 204, 0.6);
}

.links {
	margin-bottom: 1em;
}

ul {
	list-style: none;
	padding: 0;
}

/* TITLE PAGE*/
.title-page {
	height: 100vh;
	background-image: url("/imgs/portfolio/title/titleback.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.title {
	top: 40%;
}

.title:hover {
	cursor: pointer;
}

.lightning {
	position: fixed;
}

#lightning2 {
	left: 7%;
}


/*ABOUT ME*/
.about-me {
	background-image: url("/imgs/portfolio/about_by_spazcool-daidx3w.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5rem 0rem 5rem 0rem;
	font-size: 1.3em;
}

.less-round-box {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	margin: 0.1em;
	border: 0.2em;
	border-style: solid;
	border-color: white;
}

ol {
	list-style: none;
}
.tools{
	padding-top:0.5em;
	padding-bottom: 0.5em;
	margin-top:0.5em;
}

.badge-box {
	margin-top: 1em;
}

.badges:hover {
	box-shadow: 0 0 20px blue;
	filter: brightness(200%);
}

.workImg{
	border: 2px solid white;
}

.workImg:hover{
	box-shadow: 0 0 20px blue;
	filter: brightness(200%);
}

/*CONTACT ME*/
.sfooter {
	height: 50vh;
	background-image: url("/imgs/portfolio/footer/freevector_80s_background_by_spazcool-daiduml.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.f1_container {
	min-height: 16em;
	padding: 1em;
}

.f1_card {
	transform-style: preserve-3d;
	transition: all 1.0s linear;
	min-height: 16em;	
}

.f1_container:hover .f1_card {
	transform: rotateY(180deg);
}

.face {
	position: fixed;
	backface-visibility: hidden;
}

.face.back {
	transform: rotateY(180deg);
	text-align: center;
	display: block;	
	box-sizing: border-box;
}
.email-link {
	position: absolute;
	top: 50%;
	padding: 0px 0px 0px 0px;
	transform: translate(-50%, -50%);
	font-size: 0.83vw;
}
.nudge{
	margin-top: 2vw;
}
.social {
	margin-top: 1vw;
}

.created {
	clear: both;
	margin-top: 8em;
	padding-top: 16em;
	min-height: 2em;
}

a{
	color:inherit;
}
a:hover{
	color:red;
}

.created1{
	padding-top: 1em;
}
.footsy1 {
	clear: both;
	padding: 1em 0em 1em 0em; 
	font-size: 2em;
	background-image: url("/imgs/portfolio/footer/freevector_80s_background_by_spazcool-daiduml.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.links1{
}
.social1{
	margin: 1em 0em 1em 0em;
}
.social1: hover {
 	filter: brightness(20%); 
}

.ie .sfooter {
  display: none;
}
.ie7 .sfooter {
  display: none;
}
.gecko .sfooter {
  display: none;
}
.win.gecko .sfooter {
  display: none;
}
.linux.gecko .sfooter {
  display: none;
}
.opera .sfooter {
  display: none;
}
.opera .title-page {
	height: 500px;
}
.konqueror .footsy1 {
  display: none;
}
.webkit .sfooter {
  display: none;
}
.chrome  .footsy1{
	display: none;
}
.chrome  .sfooter{
	display: inline;
}
