<!DOCTYPE HTML PUBLIC>
/*PHONES*/
@media screen and (min-device-width: 600px) and (max-device-width: 900px) and (-webkit-min-device-pixel-ratio: 1) {
	.about-me {
/* 	height: 200px; */
	background-image: url("http://img09.deviantart.net/5475/i/2016/264/e/8/wnhfv0g_by_spazcool-daidx3w.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5rem 0rem 5rem 0rem;
	font-size: 1.3em;
}
}

body {
	font-family: "Michroma", sans-serif;
	color: white;
	background-color: black;
}


/* @-moz-document url-prefix() { 
  body {
     color:lime;
  }
} */


/* MENU */

.blog{
	position: absolute;
	z-index: 1;
/* 	border: 5px dotted red;	 */
}

#blog{
	float: right;
	margin-top: 2em;
/* 	margin-left: 20%; */
/* 	padding-left:10%; */
	
}
#blog:hover{
/* 	filter: invert(); */
	filter: brightness(20%);
}

.header {
	position: fixed;
	z-index: 1;
	margin: 2em 0em 0em 0em;
}

.menu {
	flex-wrap: wrap;
}

#menuIcon {
	margin-bottom: 1em;
}

#menuIcon:hover {
	filter: brightness(30%);
}


/*MENU ICON AND THE THREE SECTION BUTTONS (SUB NAVS)  */

.nav-button {}

.nav-button:hover {
	cursor: pointer;
}

.sub-nav-button {
	background-color: rgba(0, 0, 0, 0.1);
	font-size: 2em;
	width: 8.8em;
}

#about:hover {
	background-color: rgba(110, 13, 208, 0.5);
	border-color: #6E0DD0;
}

#work:hover {
	background-color: rgba(204, 0, 255, 0.5);
	border-color: #CC00FF;
}

#find:hover {
	background-color: rgba(255, 0, 204, 0.5);
	border-color: #FF00CC;
}


/*INDIVIDUAL LINKS*/

.sub-sub-nav-button {
	text-align: left;
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
	height: 3em;
	width: 16em;
	border-color: #357ebd;
	font-size: 1.1em;
	border-radius: 0;
}

.sub-sub-nav-button:hover {
	border-color: #6E0DD0;
	color: white;
	font-size: 1.11em;
}

.about-button {}

.about-button:hover {
	background-color: rgba(110, 13, 208, 0.6);
}

.work-button {}

.work-button:hover {
	background-color: rgba(204, 0, 255, 0.6);
}

.find-button {}

.find-button:hover {
	background-color: rgba(255, 0, 204, 0.6);
}

.links {
	margin-bottom: 1em;
}

ul {
	list-style: none;
	padding: 0;
}


/* TITLE PAGE*/

.title-page {
	height: 100vh;
	background-image: url("http://pre11.deviantart.net/e837/th/pre/i/2016/262/d/a/retro_80s_arcade_game_awesome_by_spazcool-dai5bt0.jpg");
	background-repeat: no-repeat;
	background-size: cover;
/* 	color: #FF00FF;
	font-weight: bold; */
}

.title {
	top: 40%;
}

.title:hover {
	cursor: pointer;
}

.lightning {
	position: fixed;
}

#lightning1 {
	/*z-index: -6;*/
}

#lightning2 {
	left: 7%;
}


/*ABOUT ME*/

#about-link {}

.about-me {
/* 	height: 100vh; */
	background-image: url("http://img09.deviantart.net/5475/i/2016/264/e/8/wnhfv0g_by_spazcool-daidx3w.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5rem 0rem 5rem 0rem;
	font-size: 1.3em;
}

.less-round-box {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	margin: 0.2em;
	border: 0.5em;
	border-style: solid;
	border-color: white;
}

ol {
	list-style: none;
}

#done {}

.badge-box {
	margin-top: 1em;
}

#fccCV {}

#ccCV {}

.badges:hover {
	box-shadow: 0 0 20px blue;
	filter: brightness(200%);
}

/*CONTACT ME*/
#contact-link {}
.sfooter {
	height: 50vh;
/* 	padding: 2rem 0rem 2rem 0rem; */
	background-image: url("http://orig07.deviantart.net/46eb/f/2016/264/e/f/freevector_80s_background_by_spazcool-daiduml.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.f1_container {
	min-height: 16em;
	padding: 1em;
/* 	position: relative; */	
/* 	width: 33%; */	
	/*z-index: 1;*/
}
/* .f1_container {
  perspective: 10;
} */

.f1_card {
	transform-style: preserve-3d;
	transition: all 1.0s linear;
	min-height: 16em;
/* 	width: 100%; */
/* 	height: 50%; */	
	
}

.f1_container:hover .f1_card {
	transform: rotateY(180deg);
}

.face {
	position: fixed;
	backface-visibility: hidden;
/* 	width: 100%;
	height: 100%; */
}

.face.back {
	transform: rotateY(180deg);
	text-align: center;
	padding: ;
	display: block;	
	box-sizing: border-box;
}
.email-link {
	position: absolute;
	top: 50%;
	padding: 0px 0px 0px 0px;
	transform: translate(-50%, -50%);
	font-size: 0.83vw;
}
.nudge{
	margin-top: 2vw;
}
.social {
	margin-top: 1vw;
/* 	width: 50%; */
/* 	height: 50%; */
/* 	float: left; */
}

.created {
	bottom: 0%;
	clear: both;
	margin-top: 8em;
	padding-top: 16em;
	min-height: 2em;
}

a{
	color:inherit;
}
a:hover{
	color:red;
}


.footsy {
	clear: both;
	background-color: ;
	padding-bottom: 1em; 
	font-size: 0.75em;
}
.social:hover {
	filter: brightness(200%);
}
