<!DOCTYPE html>	

<!--ALTERNATIVE/SIMPLE FOOTER-->
<!-- <div class="footsy1 contact-link col-xs-12 col-sm-12 col-md-12 col-lg-12" id="altFooter">
	<div class="links1 col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="created1 col-xs-12 col-sm-3 col-md-3 col-lg-3">
			Created by me, <a href="https://github.com/Spazcool" target="blank" id="created">Douglas Wright</a>.
		</div>
		<div class="social1 col-xs-4 col-xs-offset-6 col-sm-1 col-sm-offset-6 col-md-1 col-md-offset-6 col-lg-1 col-lg-offset-6">			
			<a href="mailto:douglas.wrightiii@gmail.com?subject=I saw your site...">
				<img src="/imgs/portfolio/footer/emailGrey500.png" width="70%" height="auto" class="less-round-box" /></a>
		</div>
		<div class="social1 col-xs-4 col-sm-1 col-md-1 col-lg-1">			
			<a href="https://www.linkedin.com/in/douglaswrightiii/" target="_blank">
				<img src="/imgs/portfolio/footer/liGrey500.png" width="70%" height="auto" class="less-round-box" /></a>
		</div>
		<div class="social1 col-xs-4 col-sm-1 col-md-1 col-lg-1">			
			<a href="https://www.facebook.com/douglas.wrightiii" target="_blank">
				<img src="/imgs/portfolio/footer/fbGrey500.png" width="70%" height="auto" class="less-round-box" /></a>
		</div>
		<div class="social1 col-xs-4 col-sm-1 col-md-1 col-lg-1">			
			<a href="https://twitter.com/SpazC00l" target="_blank">
				<img src="/imgs/portfolio/footer/twitGrey500.png" width="70%" height="auto" class="less-round-box" /></a>
		</div>
		<div class="social1 col-xs-4 col-sm-1 col-md-1 col-lg-1">			
			<a href="https://plus.google.com/u/0/104439460634753905653" target="_blank">
				<img src="/imgs/portfolio/footer/gGrey500.png" width="70%" height="auto" class="less-round-box" /></a>
		</div>
		<div class="social1 col-xs-4 col-sm-1 col-md-1 col-lg-1">
			<a href="https://github.com/Spazcool" target="_blank">
				<img src="/imgs/portfolio/footer/gitGrey500.png" width="70%" height="auto" class="less-round-box" /></a>
		</div>
	</div>
</div> -->

<!-- /////////////////////////////// -->
<footer class="mdl-mini-footer">
	<ul class="mdl-mini-footer__link-list">
		<li><a href="/_layouts/simple.html">Weather Spotlight</a></li>
		<li><a href="blog.html">Five-Day Forecast</a></li>
	</ul>
	<div class="mdl-mini-footer__right-section">
		<a href='https://www.spazcool.com'><img src='../imgs/favicons/index.ico'/></a>
	</div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.1/moment-with-locales.min.js"></script>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="../js/index.js"></script>