<!DOCTYPE html>	

<footer class="mdl-mini-footer">
	<ul class="mdl-mini-footer__link-list">
		<li><a href="https://github.com/Spazcool">GitHub</a></li>
		<li><a href="https://www.linkedin.com/in/douglaswrightiii/">LinkedIn</a></li>
		<li><a href="https://twitter.com/SpazC00l">Twitter</a></li>
		<li><a href="mailto:douglas.wrightiii@gmail.com?subject=I saw your site...">Gmail</a></li>
	</ul>
	<div class="mdl-mini-footer__right-section">
		<a href='https://www.spazcool.com'><img src='../imgs/favicons/index.ico'/></a>
	</div>
</footer>

<script type="text/javascript" src="/js/webgl-globe-master/globe/third-party/Detector.js"></script>
<script type="text/javascript" src="/js/webgl-globe-master/globe/third-party/three.min.js"></script>
<script type="text/javascript" src="/js/webgl-globe-master/globe/third-party/Tween.js"></script>
<script type="text/javascript" src="/js/webgl-globe-master/globe/globe.js"></script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.1/moment-with-locales.min.js"></script>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/work.js"></script>


