<!DOCTYPE html>

<div class="workspace col-lg-12">
		<!--SCREEN-->
		<div class="screenHold col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="col-lg-12" id="screen">
			</div>
		</div>
		<!--BUTTONS-->
		<div class="calculator col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="col-lg-12">
				<button class="power btn btn-lg well buts one col-xs-6 col-sm-6 col-md-6 col-lg-6" type="button" id="ac">AC</button>
				<button class="power btn btn-lg well buts one col-xs-6 col-sm-6 col-md-6 col-lg-6" type="button" id="ce">CE</button>
				<button class="btn btn-lg well buts one col-xs-3 col-sm-3 col-md-3 col-lg-3" type="button" id="seven">7</button>
				<button class="btn btn-lg well buts one col-xs-3 col-sm-3 col-md-3 col-lg-3" type="button" id="eight">8</button>
				<button class="btn btn-lg well buts one col-xs-3 col-sm-3 col-md-3 col-lg-3" type="button" id="nine">9</button>
				<button class="ops btn btn-lg well buts one col-xs-3 col-sm-3 col-md-3 col-lg-3" type="button" id="multiply">x</button>
				<button class="btn btn-lg well buts one col-xs-3 col-sm-3 col-md-3 col-lg-3" type="button" id="four">4</button>
				<button class="btn btn-lg well buts one col-xs-3 col-sm-3 col-md-3 col-lg-3" type="button" id="five">5</button>
				<button class="btn btn-lg well buts one col-xs-3 col-sm-3 col-md-3 col-lg-3" type="button" id="six">6</button>
				<button class="ops btn btn-lg well buts one col-xs-3 col-sm-3 col-md-3 col-lg-3" type="button" id="divide">&divide;</button>
				<button class="btn btn-lg well buts one col-xs-3 col-sm-3 col-md-3 col-lg-3" type="button" id="one">1</button>
				<button class="btn btn-lg well buts one col-xs-3 col-sm-3 col-md-3 col-lg-3" type="button" id="two">2</button>
				<button class="btn btn-lg well buts one col-xs-3 col-sm-3 col-md-3 col-lg-3" type="button" id="three">3</button>
				<button class="ops btn btn-lg well buts one col-xs-3 col-sm-3 col-md-3 col-lg-3" type="button" id="add">+</button>
				<button class="btn btn-lg well buts one col-xs-3 col-sm-3 col-md-3 col-lg-3" type="button" id="dot">.</button>
				<button class="btn btn-lg well buts one col-xs-3 col-sm-3 col-md-3 col-lg-3" type="button" id="zero">0</button>
				<button class="power btn btn-lg well buts one col-xs-3 col-sm-3 col-md-3 col-lg-3" type="button" id="equal">=</button>
				<button class="ops btn btn-lg well buts one col-xs-3 col-sm-3 col-md-3 col-lg-3" type="button" id="minus">-</button>
			</div> <!--END OF BUTTONS-->
		</div><!--END OF CALCULATOR-->
	</div><!--END OF WORKSPACE-->
