	<!--SLIDESHOW CONTAINER FOR MY WORK, NEED TO TWEAK THE JS COMPONENT BEFORE I CAN PUSH THIS ON TO THE WORKING PAGE-->
  <!-- START SLIDESHOW	-->
			<h2>My Work</h2>
			<br>
			<div class="slideshow-container">
				<div class="mySlides fade">
  					<div class="numbertext">1 / 3</div>
					<a href="http://www.spazcool.com/pomo/">
  						<img src="/imgs/portfolio/pomo.jpg" style="width:100%">
					</a>
					<div class="text">Pomodoro Timer</div>
				</div>
				<div class="mySlides fade">
  					<div class="numbertext">2 / 3</div>
  					<a href="http://www.spazcool.com/calc/">
						<img src="/imgs/portfolio/calc.jpg" style="width:100%">
					</a>
					<div class="text">Calculator</div>
				</div>
				<div class="mySlides fade">
  					<div class="numbertext">3 / 3</div>
  					<a href="http://www.spazcool.com/tictac/">
						<img src="/imgs/portfolio/ticTac.jpg" style="width:100%">
					</a>
  					<div class="text">Tic Tac Toe</div>
				</div>
			</div>
			<br>

			<div style="text-align:center">
  				<span class="dot"></span> 
  				<span class="dot"></span> 
  				<span class="dot"></span> 
			</div>	
<!-- END SLIDESHOW-->
