<!DOCTYPE html>	

<footer class="mdl-mini-footer">
	<ul class="mdl-mini-footer__link-list">
		<li><a href="https://github.com/Spazcool"><i class="fab fa-github-square"></i> GitHub</a></li>
		<li><a href="https://www.linkedin.com/in/douglaswrightiii/"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
		<li><a href="https://twitter.com/SpazC00l"><i class="fab fa-twitter"></i> Twitter</a></li>
		<li><a href="mailto:douglas.wrightiii@gmail.com?subject=I saw your site..."><i class="fas fa-envelope"></i> Gmail</a></li>
	</ul>
	<div class="mdl-mini-footer__right-section">
		<a href='https://www.spazcool.com'><img src='../imgs/favicons/index.ico'/></a>
	</div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.1/moment-with-locales.min.js"></script>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="https://kit.fontawesome.com/968271eaaa.js" crossorigin="anonymous"></script>
<script>
    $("#page-header").text("About Me")
</script>