<main class="mdl-layout__content center-items">
    <div class="card-event mdl-card mdl-shadow--2dp mdl-cell mdl-cell--2-col mdl-cell--12-col-phone project-card" style="border-radius: 5px">
        <div class="timeBlock mdl-cell mdl-cell--12-col mdl-cell--12-col-phone" style="max-height: 100%;">
            <h4 style="text-align:center;">About Me</h4>
            <hr/>
            <div class="screenshot">
                <img src='/imgs/body/face.jpg' width='100%' />
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border center-items">
            <div class="description">
                <p>For me, Frontend Development is a great opportunity. At the heart of it is pure creation. It can be messy and rushed, or focused and painfully slow, but it's always taking nothing but an idea and finding the appropriate route and tools to bring that to a finished product. I love that. From nothing, something.</p>
                <p>Please have a look at my work below, each one has its own repo on GitHub if you want to peek at the code. Feel free to contact me if you like what you see.</p>
                <p>Thanks for stopping by.</p>
                <a href="https://www.freecodecamp.com/spazcool" target="_blank">
                    <img src="/imgs/portfolio/fcciconneon_by_spazcool-daia1kz.jpg" class="less-round-box badges" width="80%" height="auto" />
                </a>
                <a href="https://www.codecademy.com/profiles/SpazCool" target="_blank">
                    <img src="/imgs/portfolio/cciconneon_by_spazcool-daia1mr.jpg" class="less-round-box badges" width="80%" height="auto" />
                </a>
            </div>
        </div>
    </div>
</main>
