<!DOCTYPE html>

<div class="footsy col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="links col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="created col-xs-3 col-sm-3 col-md-3 col-lg-3">
				Created by me, <a href="http://www.spazcool.com/" target="blank" id="created">Douglas Wright</a>.

		</div>
<div class="social col-xs-1 col-xs-offset-4 col-sm-1 col-sm-offset-4 col-md-1 col-md-offset-4 col-lg-1 col-lg-offset-4">			<a href="https://cn.linkedin.com/in/douglaswrightiii" target="_blank"><img src="http://orig12.deviantart.net/8202/f/2016/268/f/2/li_alt_by_spazcool-daiwsdg.png" width="60%" height="auto" class="less-round-box" /></a>
				</div>
<div class="social col-xs-1 col-sm-1 col-md-1 col-lg-1">			<a href="https://www.facebook.com/douglas.wrightiii" target="_blank"><img src="http://pre13.deviantart.net/2daf/th/pre/i/2016/268/e/3/fb_alt_by_spazcool-daiwqbr.png" width="60%" height="auto" class="less-round-box" /></a>
				</div>
<div class="social col-xs-1 col-sm-1 col-md-1 col-lg-1">			<a href="https://twitter.com/SpazC00l" target="_blank"><img src="http://orig05.deviantart.net/a92b/f/2016/268/5/a/t_alt_by_spazcool-daiwqgv.png" width="60%" height="auto" class="less-round-box" /></a>
				</div>
<div class="social col-xs-1 col-sm-1 col-md-1 col-lg-1">			<a href="https://plus.google.com/u/0/104439460634753905653" target="_blank"><img src="http://orig15.deviantart.net/0e65/f/2016/268/5/8/g__alt_by_spazcool-daiwqcu.png" width="60%" height="auto" class="less-round-box" /></a>
				</div>
				<div class="social col-xs-1 col-sm-1 col-md-1 col-lg-1">
			<a href="https://github.com/Spazcool" target="_blank"><img src="http://orig15.deviantart.net/0e65/f/2016/268/5/8/g__alt_by_spazcool-daiwqcu.png" width="60%" height="auto" class="less-round-box" /></a>
				</div>
		</div>

	</div>
