<!DOCTYPE html>
<div class='topics col-xs-12 col-sm-12 col-md-12 col-lg-12'>
		<div class='fcc'>
			<h1>
			<a href="https://www.freecodecamp.com/about" target="_blank">freeCodeCamp(&#128293;) </a> Algorithm Challenges
			</h1>
			<div class='projects-button col-xs-12 col-sm-12 col-md-12 col-lg-12'>View</div>
			<ul class='projects col-xs-12 col-sm-12 col-md-12 col-lg-12'>
				<a href="http://s.codepen.io/SpazCool/debug/XjwZBL/bYMdyGyYxYEr">
					<li class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>Everything Be True</li>
				</a>
				<a href="http://s.codepen.io/SpazCool/debug/XjwZBL/bYMdyGyYxYEr">
					<li class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>Coming Soon</li>
				</a>
				<a href="http://s.codepen.io/SpazCool/debug/XjwZBL/bYMdyGyYxYEr">
					<li class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>Coming Soon</li>
				</a>
				<a href="http://s.codepen.io/SpazCool/debug/XjwZBL/bYMdyGyYxYEr">
					<li class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>Coming Soon</li>
				</a>
			</ul>
		</div>

		<div class='hr'>
			<h1>
				<a href="https://www.hackerrank.com/">HackerRank </a> Algorithm Challenges</h1>
			<div class='projects-button col-xs-12 col-sm-12 col-md-12 col-lg-12'>View</div>
			<ul class='projects col-xs-12 col-sm-12 col-md-12 col-lg-12'>
				<a href="http://s.codepen.io/SpazCool/debug/XjwZBL/bYMdyGyYxYEr">
					<li class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>Coming Soon</li>
				</a>
				<a href="http://s.codepen.io/SpazCool/debug/XjwZBL/bYMdyGyYxYEr">
					<li class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>Coming Soon</li>
				</a>
				<a href="http://s.codepen.io/SpazCool/debug/XjwZBL/bYMdyGyYxYEr">
					<li class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>Coming Soon</li>
				</a>
				<a href="http://s.codepen.io/SpazCool/debug/XjwZBL/bYMdyGyYxYEr">
					<li class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>Coming Soon</li>
				</a>
			</ul>
		</div>

		<div class='misc'>
			<h1>Miscellaneous</h1>
			<div class='projects-button col-xs-12 col-sm-12 col-md-12 col-lg-12'>View</div>
			<ul class='projects col-xs-12 col-sm-12 col-md-12 col-lg-12'>
				<a href="http://s.codepen.io/SpazCool/debug/XjwZBL/bYMdyGyYxYEr">
					<li class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>Coming Soon</li>
				</a>
				<a href="http://s.codepen.io/SpazCool/debug/XjwZBL/bYMdyGyYxYEr">
					<li class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>Coming Soon</li>
				</a>
				<a href="http://s.codepen.io/SpazCool/debug/XjwZBL/bYMdyGyYxYEr">
					<li class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>Coming Soon</li>
				</a>
				<a href="http://s.codepen.io/SpazCool/debug/XjwZBL/bYMdyGyYxYEr">
					<li class='col-xs-3 col-sm-3 col-md-3 col-lg-3'>Coming Soon</li>
				</a>
			</ul>
		</div>
	</div>
