<!DOCTYPE html>

<div class="footsy col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="links col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="created col-xs-3 col-sm-3 col-md-3 col-lg-3">
			Created by me, <a href="http://www.spazcool.com/" target="blank" id="created">Douglas Wright</a>.
		</div>
		<div class="social col-xs-1 col-xs-offset-2 col-sm-1 col-sm-offset-2 col-md-1 col-md-offset-2 col-lg-1 col-lg-offset-2">			
			<a href="mailto:douglas.wrightiii@live.com?subject=I saw your site...">
				<img src="/imgs/portfolio/footer/emailGrey500.png" width="70%" height="auto" class="less-round-box" /></a>
		</div>
		<div class="social col-xs-1 col-sm-1 col-md-1 col-lg-1">			
			<a href="https://cn.linkedin.com/in/douglaswrightiii" target="_blank">
				<img src="/imgs/portfolio/footer/liGrey500.png" width="70%" height="auto" class="less-round-box" /></a>
		</div>
		<div class="social col-xs-1 col-sm-1 col-md-1 col-lg-1">			
			<a href="https://www.facebook.com/douglas.wrightiii" target="_blank">
				<img src="/imgs/portfolio/footer/fbGrey500.png" width="70%" height="auto" class="less-round-box" /></a>
		</div>
		<div class="social col-xs-1 col-sm-1 col-md-1 col-lg-1">			
			<a href="https://twitter.com/SpazC00l" target="_blank">
				<img src="/imgs/portfolio/footer/twitGrey500.png" width="70%" height="auto" class="less-round-box" /></a>
		</div>
		<div class="social col-xs-1 col-sm-1 col-md-1 col-lg-1">			
			<a href="https://plus.google.com/u/0/104439460634753905653" target="_blank">
				<img src="/imgs/portfolio/footer/gGrey500.png" width="70%" height="auto" class="less-round-box" /></a>
		</div>
		<div class="social col-xs-1 col-sm-1 col-md-1 col-lg-1">
			<a href="https://github.com/Spazcool" target="_blank">
				<img src="/imgs/portfolio/footer/gitGrey500.png" width="70%" height="auto" class="less-round-box" /></a>
		</div>
	</div>
</div>
