<!DOCTYPE html>

<div class="assignment col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<center>
			<h4>Assignment: Check if the predicate (second argument) is truthy on all elements of a collection (first argument).

		<p><i>Or, in plain English, do all of the elements in the objects / collections share the property we're looking for?</i></p>
		</h4>
			</center>
	</div>

	<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
		<p>Just so we're all on the same page here and also because this is the first one of these I'm posting, let me tell you what I'm hoping to accomplish here. As I'm nearing the end of the freeCodeCamp front-end curriculum I want to test myself once more and go back, redo and post the resulting mess here. I will be focusing on the problems I found most challenging, the algorithms.</p>
			</div>

	<div class="pseudo col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="sectionTitle col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1"><h4><b>The breakdown and pseudo-code:</b></h4></div>
		<div class="pseudo col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
			<div class="pseudo col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
			<p>Loop through the all of the collections(objects).</p>
			<p>Check if each one has  the property we're looking for. </p>
			<p>If the property is found, check if it's value is a valid one.</p>
	<p>If any of the objects tested comeback as either missing the property or  missing a valid value, return <i>FALSE</i>. Otherwise, return <i>TRUE</i>.
			</div>
<br>
		<div class="daCode well col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<code>
		&emsp;for(elements in collection){ <br>
		&emsp;&emsp;if(element not there OR element equals false){<br>
		&emsp;&emsp;&emsp;return false<br>
		&emsp;&emsp;}<br>
		&emsp;}<br>
		&emsp;return true<br>
		</code>
			</div>
		</div>
	</div>

	<div class="test col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="sectionTitle col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1"><h4><b>The known tests:</h4></b></div>
		<div class="tests col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
			<center>
			<h4><b>INPUT</h4></b>
			</center>
			<div class="well col-xs-12 col-sm-12 col-md-12 col-lg-12" >
				<ol>
			<li><b>truthCheck([{"user": "Tinky-Winky", "sex": "male"}, {"user": "Dipsy", "sex": "male"}, {"user": "Laa-Laa", "sex": "female"}, {"user": "Po", "sex": "female"}], "sex")</b> should return true.
			</li>
			<li><b>truthCheck([{"user": "Tinky-Winky", "sex": "male"}, {"user": "Dipsy"}, {"user": "Laa-Laa", "sex": "female"}, {"user": "Po", "sex": "female"}], "sex")</b> should return false.
			</li>
			<li><b>truthCheck([{"user": "Tinky-Winky", "sex": "male", "age": 0}, {"user": "Dipsy", "sex": "male", "age": 3}, {"user": "Laa-Laa", "sex": "female", "age": 5}, {"user": "Po", "sex": "female", "age": 4}], "age")</b> should return false.</li>
			<li><b>truthCheck([{"name": "Pete", "onBoat": true}, {"name": "Repeat", "onBoat": true}, {"name": "FastFoward", "onBoat": null}], "onBoat")</b> should return false. </li>
			<li><b>truthCheck([{"name": "Pete", "onBoat": true}, {"name": "Repeat", "onBoat": true, "alias": "Repete"}, {"name": "FastFoward", "onBoat": true}], "onBoat")</b> should return true.</li>
			<li><b>truthCheck([{"single": "yes"}], "single")</b> should return true.</li>
			<li><b>truthCheck([{"single": ""}, {"single": "double"}], "single")</b> should return false.</li>
			<li><b>truthCheck([{"single": "double"}, {"single": undefined}], "single")</b> should return false.</li>
			<li><b>truthCheck([{"single": "double"}, {"single": NaN}], "single")</b> should return false.</li>
		</ol>
			</div>

			<button class="btn btn-primary col-xs-2 col-xs-offset-5 col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5 col-lg-2 col-lg-offset-5" type="button" id="refresh">Test</button>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<center>
			<h4><b>OUTPUT</h4></b>
			</center>
			</div>
			<div class="well col-xs-12 col-sm-12 col-md-12 col-lg-12" id="output">
			</div>
	</div>
	</div>
	<div class="warning col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>

	<div class="code col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="sectionTitle col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1"><h4><b>And here's the code:</h4></b></div>
		<div class="code well daCode col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
			<code>
		function truthCheck(collection, pre) {<br>
			&emsp;for(var i = 0; i &#60; collection.length; i++){<br> 			 &emsp;&emsp;if(collection[i].hasOwnProperty(pre) === false || Boolean(collection[i][pre]) === false){<br>
				&emsp;&emsp;&emsp;return false; <br>
				&emsp;&emsp;}<br>
				&emsp;} <br>
				&emsp;return true; <br>
				}
					  </code>
		</div>
	</div>
