<head>
	<title>Calculator</title>
  	<link rel="shortcut icon" type="image/x-icon" href="/favicons/favicon.ico">
	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Black+Ops+One|Orbitron|Bowlby+One+SC"/>
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/calc-style.css">
	
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/newcalc.js"></script>
</head>
