<div class="about-me col-xs-12 col-sm-12 col-md-12 col-lg-12"><a id="about-link"></a>
	<div class="col-xs-10 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2" id="plan"><img src="http://orig14.deviantart.net/91be/f/2016/272/d/a/about_me_sm__by_spazcool-daj9oz1.jpg" class="less-round-box" align="right" width="25%" height="auto"/>
		<h2>About Me</h2>
		<p>A newbie Front-End Developer launches a one man war against bad design which has kidnapped the internet cluttering webpages with non-responsive junk.</p>
		<p>His Name: Douglas Wright</p>
		<p>His Location: Shanghai</p>
		<p>His Status: Freelance</p>
		<div id="done">
			<h2>Training</h2>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 badge-box">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="fccCV">
					<center>
						<a href="https://www.freecodecamp.com/spazcool" target="_blank"><img src="http://orig01.deviantart.net/8128/f/2016/263/f/0/fcciconneon_by_spazcool-daia1kz.jpg"  class="less-round-box badges" width="50%" height="auto"/></a>
					</center>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="ccCV">
					<center>
						<a href="https://www.codecademy.com/SpazCool" target="_blank"><img src="http://orig12.deviantart.net/e419/f/2016/263/1/e/cciconneon_by_spazcool-daia1mr.jpg"  class="less-round-box badges" width="50%" height="auto"/></a>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>
