<!DOCTYPE html>
<!--ABOUT ME-->
	<div class="about-me col-xs-12 col-sm-12 col-md-12 col-lg-12" id="about-link">
		<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
			<img src="/imgs/portfolio/AAEAAQAAAAAAAAfVAAAAJDBjMmVkMjE2LThlY2EtNGExZC04MTMwLTRjZjFhMmVmZDAwOA.jpg" class="less-round-box" align="right" width="25%" height="auto" />
			<h2>About Me</h2>
			<ol>
				<li>A newbie Front-End Developer launches a one man war against bad design which has kidnapped the internet cluttering webpages with non-responsive divs.</li>
				<br>
				<li>His Name: Douglas Wright</li>
				<li>His Location: Shanghai</li>
				<li>His Status: Freelance</li>
			</ol>
			
			<h2>My Tools</h2>
			<br>
			<div class="tools col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<center>
					<img src="/imgs/portfolio/htmlLogoHot.png" align="left" width="25%" height="auto"/>
					<img src="/imgs/portfolio/cssLogoHot.png" align="center" width="25%" height="auto"/>
					<img src="/imgs/portfolio/jsLogoHot.png" align="right" width="25%" height="auto"/>
				</center>
			</div>
			<br>
			<div id="done">
				<h2>My Training</h2>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 badge-box">
					<div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1" id="fccCV">
						<center>
							<a href="https://www.freecodecamp.com/spazcool" target="_blank">
								<img src="/imgs/portfolio/fcciconneon_by_spazcool-daia1kz.jpg" class="less-round-box badges" width="80%" height="auto" />
							</a>
						</center>
					</div>

					<div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-0 col-lg-5 col-lg-offset-0" id="ccCV">
						<center>
							<a href="https://www.codecademy.com/SpazCool" target="_blank">
								<img src="/imgs/portfolio/cciconneon_by_spazcool-daia1mr.jpg" class="less-round-box badges" width="80%" height="auto" />
							</a>
						</center>
					</div>
				</div>
			</div>
			
			<h2>My Work</h2>
			<br>
			<div class="work col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<center>
					<a href="http://www.spazcool.com/calc/" target="_blank">
						<img src="/imgs/portfolio/calc.jpg" align="left" width="30%" height="auto" class="workImg"/>
					</a>
					<a href="http://www.spazcool.com/pomo/" target="_blank">
						<img src="/imgs/portfolio/pomo.jpg" align="center" width="30%" height="auto" class="workImg"/>
					</a>
					<a href="http://www.spazcool.com/tictac/" target="_blank">
						<img src="/imgs/portfolio/ticTac.jpg" align="right" width="30%" height="auto" class="workImg"/>
					</a>
						</center>
			</div>
			
			<!-- START SLIDESHOW	-->
			
<!-- 			<div class="slideshow-container">
				<div class="mySlides fade">
  					<div class="numbertext">1 / 3</div>
					<a href="http://www.spazcool.com/pomo/">
  						<img src="/imgs/portfolio/pomo.jpg" style="width:100%">
					</a>
					<div class="text">Pomodoro Timer</div>
				</div>
				<div class="mySlides fade">
  					<div class="numbertext">2 / 3</div>
  					<a href="http://www.spazcool.com/calc/">
						<img src="/imgs/portfolio/calc.jpg" style="width:100%">
					</a>
					<div class="text">Calculator</div>
				</div>
				<div class="mySlides fade">
  					<div class="numbertext">3 / 3</div>
  					<a href="http://www.spazcool.com/tictac/">
						<img src="/imgs/portfolio/ticTac.jpg" style="width:100%">
					</a>
  					<div class="text">Tic Tac Toe</div>
				</div>
			</div>
			<br>

			<div style="text-align:center">
  				<span class="dot"></span> 
  				<span class="dot"></span> 
  				<span class="dot"></span> 
			</div>	 -->
<!-- END SLIDESHOW-->
			
		</div>
	</div>
