<!DOCTYPE html>
<!--ABOUT ME-->
	<div class="about-me col-xs-12 col-sm-12 col-md-12 col-lg-12" id="about-link">
		<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
			<img src="/imgs/portfolio/AAEAAQAAAAAAAAfVAAAAJDBjMmVkMjE2LThlY2EtNGExZC04MTMwLTRjZjFhMmVmZDAwOA.jpg" class="less-round-box" align="right" width="25%" height="auto" />
			<h2>About Me</h2>
			<p>With experience using front end tools, from Git to jQuery, I have trained myself to create sites that carry a bold visual style and functionality to match. Every project is an opportunity to grow, testing the boundaries of the library, the language and myself.</p>
			<p>I love the process of creation, of taking nothing but a set of tools and an idea and hacking my way to the finished product. Please have a look at my work below, each one has its own repo on GitHub if you want to peek at the code. Feel free to contact me if you like what you see.</p>
			<p>Thanks for stopping by.</p>
<!-- 			
			<h2>My Tools</h2>
			<br>
			<div class="tools col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<center>
					<img src="/imgs/portfolio/htmlLogoHot.png" align="left" width="25%" height="auto"/>
					<img src="/imgs/portfolio/cssLogoHot.png" align="center" width="25%" height="auto"/>
					<img src="/imgs/portfolio/jsLogoHot.png" align="right" width="25%" height="auto"/>
				</center>
			</div>
			 -->
			<br>
			<div id="done">
				<h2>My Training</h2>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 badge-box">
					<div class="morePadding col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1" id="fccCV">
						<center>
							<a href="https://www.freecodecamp.com/spazcool" target="_blank">
								<img src="/imgs/portfolio/fcciconneon_by_spazcool-daia1kz.jpg" class="less-round-box badges" width="80%" height="auto" />
							</a>
						</center>
					</div>

					<div class="morePadding col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-0 col-lg-5 col-lg-offset-0" id="ccCV">
						<center>
							<a href="https://www.codecademy.com/SpazCool" target="_blank">
								<img src="/imgs/portfolio/cciconneon_by_spazcool-daia1mr.jpg" class="less-round-box badges" width="80%" height="auto" />
							</a>
						</center>
					</div>
					
				</div>
			</div>
		
			<div id="workSection">
				<h2 id="padThis">My Work</h2>
				<br>
				<div class="work col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<center>
						<a href="http://www.spazcool.com/calc/" target="_blank">
							<img src="/imgs/portfolio/calc.jpg" align="left" width="30%" height="auto" class="workImg"/>
						</a>
						<a href="http://www.spazcool.com/pomo/" target="_blank">
							<img src="/imgs/portfolio/pomo.jpg" align="center" width="30%" height="auto" class="workImg"/>
						</a>
						<a href="http://www.spazcool.com/tictac/" target="_blank">
							<img src="/imgs/portfolio/ticTac.jpg" align="right" width="30%" height="auto" class="workImg"/>
						</a>
					</center>
				</div>
			</div>
		</div>
	</div>
