<!DOCTYPE html>	
<!--CONTACT ME-->
	<div class="sfooter col-xs-12 col-sm-12 col-md-12 col-lg-12" id="primaryFooter">
		<!--EMAIL-->
		<div class="f1_container col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<!--class="shadow" -->
			<div class="f1_card col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0 col-lg-12 col-lg-offset-0">
				<!-- front -->
				<div class="face">
					<center>
						<img src="/imgs/portfolio/footer/emailColor500.png" width="60%" height="auto" class="less-round-box" />
					</center>
				</div>
<!--center-->
				<div class="face back">
					<a href="mailto:douglas.wrightiii@live.com?subject=I saw your site...">
						<img src="/imgs/portfolio/footer/emailGrey500.png" width="60%" height="auto" class="less-round-box" />
					</a>
					<span>
						<div class="email-link col-xs-6 col-xs-offset-6 col-sm-6 col-sm-offset-6 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-6">douglas.wrightiii@live.com
						</div>
					</span>
				</div>
			</div>
		</div>

		<!--PHONE-->
		<div class="f1_container col-xs-12 col-sm-12 col-md-4 col-lg-4">
<!-- class="shadow" -->
			<div class="f1_card col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0 col-lg-12 col-lg-offset-0">
				
				<div class="face">
					<center>
						<img src="/imgs/portfolio/footer/phoneColor500.png" width="60%" height="auto" class="less-round-box" />
					</center>
				</div>
<!-- 	class = "center"	 -->
				<div class="face back">
					<div>
						<img src="/imgs/portfolio/footer/phoneGrey500.png" width="60%" height="auto" class="less-round-box" />
						<span><div class="email-link nudge col-xs-6 col-xs-offset-6 col-sm-6 col-sm-offset-6 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-">+86 185 2140 2166

						<script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
						
							<div id="SkypeButton_Call_douglas.wrightiii_1">
						<script type="text/javascript">
							Skype.ui({
							 "name": "call",
							 "element": "SkypeButton_Call_douglas.wrightiii_1",
							 "participants": ["douglas.wrightiii.com"],
							 "imageSize": 32
							 });
						</script>
						</div>
							</div>						</span>
					</div>
				</div>
			</div>
		</div>

		<!--SOCIAL-->
		<div class="f1_container col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<div class="f1_card col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0 col-lg-12 col-lg-offset-0">
<!--front -->
				<div class="face">
					<center><img src="/imgs/portfolio/footer/fbColor500.png" width="60%" height="auto" class="less-round-box" /></center>
				</div>
<!--center-->
				<div class="face back">
					<!--GIT-->
					<div class="social col-xs-6 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
						<a href="https://github.com/Spazcool" target="_blank"><img src="/imgs/portfolio/footer/gitGrey500.png" width="60%" height="auto" class="less-round-box" /></a>
					</div>
					<!--TWITTER-->
					<div class="social col-xs-6 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
						<a href="https://twitter.com/SpazC00l" target="_blank"><img src="/imgs/portfolio/footer/twitGrey500.png" width="60%" height="auto" class="less-round-box" /></a>
					</div>
					<!--FACEBOOK-->
					<div class="social col-xs-6 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
						<a href="https://www.facebook.com/douglas.wrightiii" target="_blank"><img src="/imgs/portfolio/footer/fbGrey500.png" width="60%" height="auto" class="less-round-box" /></a>
					</div>
					<!--LINKEDIN-->
					<div class="social col-xs-6 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
						<a href="https://cn.linkedin.com/in/douglaswrightiii" target="_blank"><img src="/imgs/portfolio/footer/liGrey500.png" width="60%" height="auto" class="less-round-box" /></a>
					</div>
				</div>
			</div>
		</div>

		<div class="created">
			<center>
				Created by me, <a href="https://github.com/Spazcool" target="blank" id="created">Douglas Wright</a>.
			</center>
		</div>
	</div>

<div class="footsy1 contact-link col-xs-12 col-sm-12 col-md-12 col-lg-12" id="altFooter">
	<div class="links1 col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="created1 col-xs-3 col-sm-3 col-md-3 col-lg-3">
			Created by me, <a href="https://github.com/Spazcool" target="blank" id="created">Douglas Wright</a>.
		</div>
		<!--EMAIL-->
		<div class="social1 col-xs-1 col-xs-offset-3 col-sm-1 col-sm-offset-3 col-md-1 col-md-offset-3 col-lg-1 col-lg-offset-3">			
			<a href="mailto:douglas.wrightiii@live.com?subject=I saw your site...">
				<img src="/imgs/portfolio/footer/emailGrey500.png" width="70%" height="auto" class="less-round-box" /></a>
		</div>
		<!--LI-->
		<div class="social1 col-xs-1 col-sm-1 col-md-1 col-lg-1">			
			<a href="https://cn.linkedin.com/in/douglaswrightiii" target="_blank">
				<img src="/imgs/portfolio/footer/liGrey500.png" width="70%" height="auto" class="less-round-box" /></a>
		</div>
		<!--FB-->
		<div class="social1 col-xs-1 col-sm-1 col-md-1 col-lg-1">			
			<a href="https://www.facebook.com/douglas.wrightiii" target="_blank">
				<img src="/imgs/portfolio/footer/fbGrey500.png" width="70%" height="auto" class="less-round-box" /></a>
		</div>
		<!--TW-->
		<div class="social1 col-xs-1 col-sm-1 col-md-1 col-lg-1">			
			<a href="https://twitter.com/SpazC00l" target="_blank">
				<img src="/imgs/portfolio/footer/twitGrey500.png" width="70%" height="auto" class="less-round-box" /></a>
		</div>
		<!--G+-->
		<div class="social1 col-xs-1 col-sm-1 col-md-1 col-lg-1">			
			<a href="https://plus.google.com/u/0/104439460634753905653" target="_blank">
				<img src="/imgs/portfolio/footer/gGrey500.png" width="70%" height="auto" class="less-round-box" /></a>
		</div>
		<!--GIT-->
		<div class="social1 col-xs-1 col-xs-offset-9 col-sm-1 col-sm-offset-9 col-md-1 col-md-offset-9 col-lg-1 col-lg-offset-9">
			<a href="https://github.com/Spazcool" target="_blank">
				<img src="/imgs/portfolio/footer/gitGrey500.png" width="70%" height="auto" class="less-round-box" /></a>
		</div>
	</div>
</div>
