	<a id="contact-link"></a>
		<div class="footer col-xs-12 col-sm-12 col-md-12 col-lg-12">
			
			<div class="f1_container col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<div class="f1_card" class="shadow">
					<div class="front face">
						<center><img src="http://pre11.deviantart.net/2a48/th/pre/i/2016/266/3/6/email_icon_by_spazcool-dailczt.png" width="50%" height="100%" class="less-round-box" /></center>
					</div>
					<div class="back face center">
						<a href="mailto:douglas.wrightiii@live.com?subject=I saw your CodePen site..."><img src="http://orig04.deviantart.net/fea9/f/2016/268/3/b/email_icon_alt2_by_spazcool-daiwhxh.png" width="50%" height="auto" class="less-round-box" /></a><span><h6>douglas.wrightiii@live.com</h6></span>
					</div>
				</div>
			</div>

			<div class="f1_container col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<div class="f1_card" class="shadow">
					<div class="front face">
						<center><img src="http://orig02.deviantart.net/fa23/f/2016/266/5/3/phone_icon_by_spazcool-daild2f.png" width="50%" height="auto" class="less-round-box"/></center>
					</div>
				<div class="back face center">
					<div>
						<img src="http://orig09.deviantart.net/6443/f/2016/268/8/7/phone_icon_alt2_by_spazcool-daiwhae.png" width="50%" height="auto" class="less-round-box"/>
							<span><h5>+86 185 2140 2166
								<script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
								<div id="SkypeButton_Call_douglas.wrightiii_1">
									<script type="text/javascript">
										Skype.ui({
										"name": "call",
							 			"element": "SkypeButton_Call_douglas.wrightiii_1",
							 			"participants": ["douglas.wrightiii.com"],
							 			"imageSize": 32
							 			});
									</script>
								</div>
							</h5></span>
					</div>
				</div>
			</div>
		</div>

		<div class="f1_container col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="f1_card" class="shadow">
				<div class="front face">
					<center><img src="http://pre14.deviantart.net/d60a/th/pre/i/2016/266/7/7/social_1_by_spazcool-dailcjx.png" width="50%" height="auto" class="less-round-box" /></center>
				</div>

				<div class="back face center">
					<div class="social">
						<a href="https://plus.google.com/u/0/104439460634753905653" target="_blank"><img src="http://orig15.deviantart.net/0e65/f/2016/268/5/8/g__alt_by_spazcool-daiwqcu.png" width="50%" height="auto" class="less-round-box" /></a>
					</div>
					<div class="social">
						<a href="https://twitter.com/SpazC00l" target="_blank"><img src="http://orig05.deviantart.net/a92b/f/2016/268/5/a/t_alt_by_spazcool-daiwqgv.png" width="50%" height="auto" class="less-round-box" /></a>
					</div>
					<div class="social">
						<a href="https://www.facebook.com/douglas.wrightiii" target="_blank"><img src="http://pre13.deviantart.net/2daf/th/pre/i/2016/268/e/3/fb_alt_by_spazcool-daiwqbr.png" width="50%" height="auto" class="less-round-box" /></a>
					</div>
					<div class="social">
						<a href="https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button" target="_blank"><img src="http://orig12.deviantart.net/8202/f/2016/268/f/2/li_alt_by_spazcool-daiwsdg.png" width="50%" height="auto" class="less-round-box" /></a>
					</div>
				</div>
			</div>
		</div>

		<div class="created">
			<center>Created by Douglas Wright</center>
		</div>
	</div>
