<!DOCTYPE html>
	<div class="header col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<div class="menu col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<!--MENU ICON-->
			<div class="nav-button"><img src="/imgs/portfolio/header/menu_sm_by_spazcool-daj9pl4.png" width="20%" height="auto" id="menuIcon">
			</div>
			<!--MENU LISTS   btn-default btn-lg  -->
			<ul class='links'>
				<div class='nav-button sub-nav-button' id="about">About Me</div>
				<ul class='links'>
					<li><a class="btn about-button sub-sub-nav-button" href="#about-link" role="button">About Me</a></li>
					<li><a class="btn about-button sub-sub-nav-button" href="#contact-link" role="button">Contact Me</a></li>
				</ul>

				<div class='nav-button sub-nav-button' id="work">My Work</div>
				<ul class='links'>
					
					<li><a class="btn work-button sub-sub-nav-button" id="twitch" href="/twitch/" target="_blank" role="button">Twitch.tv Guide</a></li>
					<li><a class="btn work-button sub-sub-nav-button" id="calc" href="/calc/" target="_blank" role="button">JS Calculator</a></li>
					<li><a class="btn work-button sub-sub-nav-button" id="solar" href="/solar/" target="_blank" role="button">Second Solar System</a></li>
					<li><a class="btn work-button sub-sub-nav-button" id="wiki" href="/wiki/" target="_blank" role="button">Wikipedia Viewer</a></li>
					<li><a class="btn work-button sub-sub-nav-button" id="tyson" href="/tyson/" target="_blank" role="button">Dr. Tyson Tribute</a></li>
					<li><a class="btn work-button sub-sub-nav-button" id="weather" href="/weather/" target="_blank" role="button">Weather App</a></li>
					<li><a class="btn work-button sub-sub-nav-button" id="quote" href="quote/" target="_blank" role="button">Random Quoter</a></li>
					<li><a class="btn work-button sub-sub-nav-button" id="pomo" href="/pomo/" target="_blank" role="button">Pomodoro Timer</a></li>
					<li><a class="btn work-button sub-sub-nav-button" id="tictac" href="/tictac/" target="_blank" role="button">Tic Tac Toe</a></li>
					<li><a class="btn work-button sub-sub-nav-button" id="simon" href="/simon/" target="_blank" role="button">Simon</a></li>
					<!--<li><a class="btn work-button sub-sub-nav-button" id="space" href="https://scratch.mit.edu/projects/94734954/" target="_blank" role="button">Space Attack</a></li>-->
				</ul>

				<div class='nav-button sub-nav-button' id="find">Find Me</div>
				<ul class='links'>
					<li><a class="btn find-button sub-sub-nav-button" href="https://forum.freecodecamp.com/users/Spazcool/summary" target="_blank"><i class="fa fa-free-code-camp" aria-hidden="true"></i>&emsp; freeCodeCamp<i class="fa fa-free-code-camp" aria-hidden="true"></i></a></li>
					<li><a class="btn find-button sub-sub-nav-button" href="https://cn.linkedin.com/in/douglaswrightiii" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i>&emsp; LinkedIn</a></li>
					<li><a class="btn find-button sub-sub-nav-button" href="https://github.com/Spazcool" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>&emsp; GitHub</a></li>
					<li><a class="btn find-button sub-sub-nav-button" href="http://codepen.io/SpazCool/" target="_blank"><i class="fa fa-codepen" aria-hidden="true"></i>&emsp; CodePen</a></li>
					<li><a class="btn find-button sub-sub-nav-button" href="https://scratch.mit.edu/users/SpazCool/" target="_blank">&#128062; &emsp; Scratch</a></li>
				</ul>
		</div>
	</div>
	<!--END OF HEADER-->
		
		<div class="blog col-xs-2 col-xs-offset-10 col-sm-2 col-sm-offset-10 col-md-2 col-md-offset-10 col-lg-2 col-lg-offset-10">
			<a href="/blog/" target="_blank">
				<img src="/imgs/portfolio/header/notepad.png" width="50%" height="auto" id="blog"/>
			</a>
		</div>
