<!DOCTYPE html>
<style>
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
</style>

<div class="dropdown">
  <span>Mouse over me</span>
  <div class="dropdown-content">
    <p>Hello World!</p>
  </div>
</div>
	<div class="header col-xs-8 col-sm-6 col-md-4 col-lg-4">
<!-- 		<div class="menu col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
		<div class="menu dropdown col-xs-12 col-sm-12 col-md-12 col-lg-12">
<!-- 		<div class="nav-button"><img src="/imgs/portfolio/header/menu_sm_by_spazcool-daj9pl4.png" width="20%" height="auto" id="menuIcon"></div> -->
		<span class="nav-button"><img src="/imgs/portfolio/header/menu_sm_by_spazcool-daj9pl4.png" width="20%" height="auto" id="menuIcon"></span>
 <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
			<ul class='links'>
				<div class='nav-button sub-nav-button' id="about">About Me</div>
				<ul class='links'>
					<li><a class="btn about-button sub-sub-nav-button" href="#about-link" role="button">About Me</a></li>
					<li><a class="btn about-button sub-sub-nav-button" href="#created" role="button">Contact Me</a></li>
				</ul>

				<div class='nav-button sub-nav-button' id="work">My Work</div>
				<ul class='links'>
					<li><a class="btn work-button sub-sub-nav-button" id="madmoney" href="http://www.madmonnaie.fr" target="_blank" role="button">Madmonnaie.fr</a></li>
					<li><a class="btn work-button sub-sub-nav-button" id="calc" href="/calc/" target="_blank" role="button">JS Calculator</a></li>
					<li><a class="btn work-button sub-sub-nav-button" id="pomo" href="/pomo/" target="_blank" role="button">Pomodoro Timer</a></li>
					<li><a class="btn work-button sub-sub-nav-button" id="tictac" href="/tictac/" target="_blank" role="button">Tic Tac Toe</a></li>
					<li><a class="btn work-button sub-sub-nav-button" id="simon" href="/simon/" target="_blank" role="button">Simon</a></li>
					<li><a class="btn work-button sub-sub-nav-button" id="twitch" href="/twitch/" target="_blank" role="button">Twitch.tv Guide</a></li>
					<li><a class="btn work-button sub-sub-nav-button" id="mark" href="http://www.spazcool.com/markdown/" target="_blank" role="button">Markdown Previewer</a></li>
					<li><a class="btn work-button sub-sub-nav-button" id="lead" href="http://www.spazcool.com/leaderboard/" target="_blank" role="button">fCC Leaderboard</a></li>
					<!--<li><a class="btn work-button sub-sub-nav-button" id="weather" href="/weather/" target="_blank" role="button">Weather App</a></li> -->
					<!-- <li><a class="btn work-button sub-sub-nav-button" id="wiki" href="/wiki/" target="_blank" role="button">Wikipedia Viewer</a></li> -->
					<!--<li><a class="btn work-button sub-sub-nav-button" id="tyson" href="/tyson/" target="_blank" role="button">Dr. Tyson Tribute</a></li> -->
					<!--<li><a class="btn work-button sub-sub-nav-button" id="solar" href="/solar/" target="_blank" role="button">Second Solar System</a></li> -->
					<!--<li><a class="btn work-button sub-sub-nav-button" id="quote" href="quote/" target="_blank" role="button">Random Quoter</a></li> -->
					<!--<li><a class="btn work-button sub-sub-nav-button" id="space" href="https://scratch.mit.edu/projects/94734954/" target="_blank" role="button">Space Attack</a></li>-->
				</ul>

				<div class='nav-button sub-nav-button' id="find">Find Me</div>
				<ul class='links'>
					<li><a class="btn find-button sub-sub-nav-button" href="https://forum.freecodecamp.com/users/Spazcool/summary" target="_blank"><i class="fa fa-free-code-camp" aria-hidden="true"></i>&emsp; freeCodeCamp<i class="fa fa-free-code-camp" aria-hidden="true"></i></a></li>
					<li><a class="btn find-button sub-sub-nav-button" href="https://cn.linkedin.com/in/douglaswrightiii" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i>&emsp; LinkedIn</a></li>
					<li><a class="btn find-button sub-sub-nav-button" href="https://github.com/Spazcool" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>&emsp; GitHub</a></li>
					<li><a class="btn find-button sub-sub-nav-button" href="http://codepen.io/SpazCool/" target="_blank"><i class="fa fa-codepen" aria-hidden="true"></i>&emsp; CodePen</a></li>
					<li><a class="btn find-button sub-sub-nav-button" href="https://scratch.mit.edu/users/SpazCool/" target="_blank">&#128062; &emsp; Scratch</a></li>
				</ul>
				</div>
				</div>
	</div>
