<!DOCTYPE html>

<head>
    <title>TicTacToe</title>
    <link type="image/x-icon" rel="shortcut icon" href="/favicons/favicon.ico">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif|Black+Ops+One|Bungee|Six+Caps|Geo|Orbitron|Press+Start+2P|Revalia|Courgette|Great+Vibes|Kaushan+Script|Lobster|Satisfy|Yellowtail"/>
    <link type="text/css" rel="stylesheet" href="/css/tictac.css"/>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/tictac.js"></script>
</head>
