<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Twitch.tv Guide</title>
  
  <link type="image/x-icon" rel="shortcut icon" href="/favicons/favicon.ico"/>
  <link type="text/css" rel="stylesheet" href="/css/bootstrap0.css"/>
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif|Black+Ops+One|Bungee|Six+Caps"/>
  <link type="text/css" rel="stylesheet" href="/css/twitch.css"/>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/twitch.js"></script>
  <base target="_blank">
</head>
